*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    scroll-behavior:smooth;
}

:root{
    --lexend:
    "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    ;

    --18:
        #18181B
    ;

    --blue:
        #4CFDC7
    ;
}

.wrapper{
    font-family: var(--lexend);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 10px 0;
}

.nav__links{
    display: flex;
    align-items: center;
    gap: 0 32px;
}

.nav__list{
    list-style: none;
}

.nav__link{
    text-decoration: none;
    font-size: 16px;
    font-family: var(--lexend);
    color: var(--18);
}

.dropbtn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: var(--lexend);
    line-height: 20px;
    color: var(--18);
}



.dropdown__products{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown__products:hover .dropdown-content {
    display: block;
    flex-direction: column;
}

.dropdown-content{

    background-color:var(--blue) ;
}

.dropdown-content a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    display: block;
    text-decoration: none;
    padding: 12px 0;
    color: var(--18);
}

.dropdown-content a:hover{
    background-color: #10B981;
}

.nav__links--btns{
    display: flex;
    gap: 7px;
}

.primary{
    padding: 9px 17px;
    border: 1px solid var(--18);
    color: var(--18);
    text-decoration: none;
    font-family: var(--lexend);
    border-radius: 4px;
    font-size: 12px;

}

.secondary{
    padding: 9px 17px;
    border: 1px solid transparent;
    color: var(--18);
    font-size: 12px;
    text-decoration: none;
    font-family: var(--lexend);
    border-radius: 4px;
    background-color: var(--blue);
}

.secondary:hover{
    padding: 9px 17px;
    border: 1px solid black;
    color: var(--18);
    font-size: 12px;
    text-decoration: none;
    font-family: var(--lexend);
    border-radius: 4px;
    background-color: #FFF;
    transition: all 0.6s;
}

/* hero  */

.hero{
    padding-top: 119px;
    display: flex;
    align-items: center;
    gap: 0 132px;
}

.hero__left{
    max-width: 660px;
}

.hero__left h3{
    font-size: 71px;
    line-height: 90px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #27272A;
}

.hero__left p{
    max-width: 461px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01px;
    font-weight: 400;
    color: #27272A;
    margin: 34px 0 30px 0;
}

.hero__links{
    display: flex;
    gap: 0 16px;
}

.hero__links a{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    align-items: center;
    text-decoration: none;
    color: var(--18);
    padding: 9px 33px;
    border-radius: 4px;
    border: 1px solid var(--18);
    margin-bottom: 16px;
    transition: all 0.6s;
}

.hero__links a:hover{
    background-color: var(--blue);
    border: 1px solid transparent;
}


.hero__star{
    display: flex;
    align-items: center;
    gap: 0 12px;
}


/* inner-statistic */

.inner__statistic{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 124px;
}

.statistic__in{
    border-radius: 10px;
    box-shadow: 0px 0px 35px -13px rgba(0,0,0,0.1);
}

.statistic__links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 32px;
}

.statistic__links a{
    padding: 26px 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #71717A;
    letter-spacing: 0.1px;
}

.statistic__links a:active{
    color: #18181B;
}


.table{
    border-collapse: collapse;
}


.table tr, th, td{
    border:1px solid #F4F4F5;
    border-left: none;
    border-right: none;
}

.table th{
    padding: 22px 160px 10px 32px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.table td{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
    padding: 20px 32px 10px 32px;
}


.green{
    color: #10B981;
}

.red{
    color: #F43F5E;
}

.money{
    display: flex;
    gap: 4px;
}

.table sup{
    font-size: 14px;
    color: #A1A1AA;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 14px;
}

.coins{
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.table tr>td>a{
    text-decoration: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.1px;
    padding: 10px 18px;
    background-color: var(--blue);
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.4s;
}

.table tr>td>a:hover{
    background-color: #FFF;
    border: 2px solid var(--blue);
    color: var(--blue);
}

.statistic__links--bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 0;
    gap: 0 9px;
}

.statistic__links--bottom a{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    gap: 0 9px;
    text-decoration: none;
    color: var(--18);
}
.statistic__links--bottom a>i{
    font-size: 28px;
}


/* markets */

.blog__one{
    max-width: 266px;
}

.blog__one--img{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.blog__one h3{
    padding: 32px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.blog__one p{
    max-width: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.markets__in>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 118px;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 70px;
}

.markets{
    padding-bottom: 174px;
}


/* section trade */

.trade{
    padding-bottom: 222px;
}

.trade__in>h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
}

.trade__in--subjects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 0;
}

.subjects__left>h3{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.1px;
    margin: 16px 0 64px 0;
    max-width: 510px;
}

.subjects__left--inner{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 56px;
}

.left__inner--info{
    max-width: 250px;
}

.left__info--first>h3{
    margin: 8px 0 18px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
}
.left__info--second>h3{
    margin: 8px 0 18px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
}

.left__info--first>p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--18);
}

.left__info--second>p{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--18);
}


.left__info--first{
    margin-bottom: 54px;
}

/* section wallet */

.wallet--inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wallet__left--first{
    max-width: 228px;
}

.wallet__left--second{
    max-width: 228px;
    margin-top: 30px;
}

.wallet__right--title h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
}

.wallet__right--description h3{
    max-width: 492px;
    margin-top: 16px;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.1px;
    color: var(--18);
}

.wallet__infos{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.wallet__left--first>h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
    margin-top: 8px;
    margin-bottom: 18px;
}

.wallet__left--first>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #27272A;
    letter-spacing: 0.2px;
}

.wallet__left--second>h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
    margin-top: 8px;
    margin-bottom: 18px;
}

.wallet__left--second>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #27272A;
    letter-spacing: 0.2px;
}

.wallet{
    padding-bottom: 190px;
}


/* section program */

.program{
    padding-top: 128px;
    background-color: #FAFAFA;
}

.program__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.program__title h3{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.program__description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 16px 0 32px 0;
}

.program__description h3{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.1px;
    max-width: 527px;
}

.program__text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}

.program__text h3{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.program__infos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 77px;
    margin-bottom: 90px;
}


.program__infos a{
    text-decoration: none;
    color: var(--18);
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.program__links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}

.program__links a{
    text-decoration: none;
    color: var(--18);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 9px 34px;
    border-radius: 4px;
    border: 1px solid var(--18);
    transition: all 0.6s;
}

.program__links a:hover{
    background-color: var(--18);
    color: #FFF;
}

.program__img{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section start-trading */

.start__trading{
    padding-top: 122px;
    padding-bottom: 128px;
}

.section__trading--title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section__trading--title>h3{
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000;
    margin-bottom: 118px;
    max-width: 395px;
}


.blog__two--img{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.blog__two h3{
    padding: 32px 0 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.blog__two p{
    max-width: 260px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.trading__blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 70px;
    margin-bottom: 46px;
}

.trading__link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trading__link a{
    text-decoration: none;
    color: var(--18);
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 9px 33px;
    background-color: var(--blue);
    margin-bottom: 32px;
    transition: all 0.6s;
}

.trading__link a:hover{
    background-color: #FFF;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.trading__star{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px ;
}

/* section trade--apps */

.trade__apps{
    padding: 195px 0 106px 0;
    border-bottom: 1px solid #D4D4D8;
}

.apps__link{
    display: flex;
    gap: 0 36px ;
}

.apps__title h3{
    font-size: 46px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1px;
    color: #000;
}

.apps__paragraph p{
    max-width: 517px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #27272A;
    padding-top: 24px;
    padding-bottom: 30px;
}

.left__link--in i{
    font-size: 20px;
}

.left__link--in{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    padding: 8px 22px;
    background-color:#000;
    border-radius: 8px;

}

.apps__link--left a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.apps__link--text p{
    font-size: 8px;
}

.apps__link--star{
    display: flex;
    gap: 0 10px;
}


.right__link--in i{
    font-size: 20px;
}

.right__link--in{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    padding: 8px 22px;
    background-color:#000;
    border-radius: 8px;

}

.right__link--in img{
    width: 30px;
}

.apps__link--right a{
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.apps__link--text p{
    font-size: 8px;
}

.apps__info{
    margin-top: 34px;

}

.apps__info a{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: var(--18);
    text-decoration: none;
}


/* section news trade */

.trade__news{
    padding: 128px 0 32px 0;
}

.news__title{
    margin-bottom: 64px;
}

.news__title h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: var(--18);
}


.news__boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 33px;
}

.news__box{
    max-width: 357px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.news__box--info{
    padding: 32px 0 32px 16px;
}

.news__box--title{
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-bottom: 16px;
}

.news__box--title span{
    padding: 2px 8px 6px 8px;
    background-color: var(--blue);
    font-size: 12px;
    line-height: 12px;
    color: #18181B;
}

.news__box--title p{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #18181B;
}

.new__box--subtitle {
    margin-bottom: 32px;
}

.new__box--subtitle h3{
    font-size: 24px;
    line-height: 30px;
    color: var(--18);
}
.new__box--link a{
    font-size: 16px;
    line-height: 20px;
    color: var(--18);
    text-decoration: none;
}

.last{
    margin-top: 62px;
}

.news__link{
    margin: 64px 0 64px 0;
}

.news__link a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    color: var(--18);
}

.news__socials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 32px;
}

.news__socials a{
    display: flex;
    gap: 0 8px;
    text-decoration: none;
    color: var(--18);
}

.news__socials a:hover{
    color: var(--blue);
}


/* section--preview */

.preview{
    padding: 203px 0 79px 0;
}

.preview__title{
    max-width: 437px;
    margin-bottom: 37px;
}

.preview__title h3{
    
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 48px;
    color: #000;
}


.preview__link a{
    text-decoration: none;
    border-radius: 4px;
    padding: 11px 33px;
    background-color: var(--blue);
    color: #01271C;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    border: 1px solid transparent;
    transition: all;
}

.preview__link a:hover{
    background-color: #FFF;
    border: 1px solid var(--blue);
    color: var(--blue);
}


/* footer */

.footer{
    padding: 66px 0;
}

.footer__logo{
    margin-bottom: 67px;
}

.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 20px 89px;
    margin-bottom: 88px;

}


.footer__list{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    list-style: none;
}

.footer__links{
    text-decoration: none;
    display: flex;
    gap: 0 10px;
    color: #3F3F46;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
    padding: 3px;
}

.footer__links:hover{
    color: var(--blue);
    text-decoration: underline var(--blue);
}


.footer__app--links a{
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 2px 12px;
    background-color:#000;
    border-radius: 8px;

}

.footer__item--app img{
    width: 20px;
}

.footer__item--app a{
    font-size: 8px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.footer__item--app p{
    font-size: 10px;
}

.footer__app--links{
    display: flex;
    flex-direction: column;
    gap: 14px 0;
}

.footer__infos{
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    margin-bottom: 63px;
}

.footer__infos p{
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #27272A;
}

.footer__end{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__end p{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #27272A;
}









@media only  screen and (max-width:600px){

    .wrapper{
        overflow: hidden;
    }

    .hero__right{
        display: none;
    }
    .dropdown__products{
        display: none;
    }
    .nav__list{
        display: none;
    }

    .inner__statistic{
        margin-top: 50px;
    }
    .table tr, th, td{
        border:1px solid #F4F4F5;
        border-left: none;
        border-right: none;
    }
    
    .table th{
        padding: 12px 10px 5px 10px;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
    }
    
    .table td{
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: var(--18);
        padding: 10px 10px 5px 16px;
    }
    
    .subjects__right img{
        width: 400px;
    }

    .wallet--left img{
        width: 400px;
    }

    .program__img img{
        width: 400px;
    }
}